# Desenvolvimento local
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=gere_uma_secret_key_unica_para_este_ambiente
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000
DATABASE_URL=

POSTGRES_DB=plataforma_campanha
POSTGRES_USER=defina_usuario_postgres
POSTGRES_PASSWORD=defina_senha_postgres_forte
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
HEALTHCHECK_VERIFY_REDIS=False
PG_DUMP_BIN=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=nao-responda@plataformacampanha.local
WHATSAPP_OFFICIAL_API_URL=
WHATSAPP_OFFICIAL_API_TOKEN=
WHATSAPP_OFFICIAL_WEBHOOK_TOKEN=
SMS_OFFICIAL_API_URL=
SMS_OFFICIAL_API_TOKEN=
SMS_OFFICIAL_WEBHOOK_TOKEN=
EMAIL_OFFICIAL_WEBHOOK_TOKEN=

LANGUAGE_CODE=pt-br
TIME_ZONE=America/Fortaleza

# Em produção, use:
# DJANGO_SETTINGS_MODULE=config.settings.production
# DEBUG=False
# ALLOWED_HOSTS=seu-dominio.com,www.seu-dominio.com
# CSRF_TRUSTED_ORIGINS=https://seu-dominio.com,https://www.seu-dominio.com
