Django>=5.2,<6.1
djangorestframework>=3.16,<4.0
djangorestframework-simplejwt>=5.5,<6.0
django-filter>=25.1,<26.0
drf-spectacular>=0.29,<1.0
psycopg[binary]>=3.2,<4.0
Pillow>=11.3,<12.0
python-dotenv>=1.1,<2.0
django-axes>=8.0,<9.0
django-otp>=1.6,<2.0
qrcode>=8.2,<9.0
celery>=5.5,<6.0
redis>=6.2,<7.0
django-celery-beat>=2.8,<3.0
django-celery-results>=2.6,<3.0
whitenoise>=6.9,<7.0
gunicorn>=23.0,<24.0
openpyxl>=3.1,<4.0
XlsxWriter>=3.2,<4.0
reportlab>=4.4,<5.0
phonenumberslite>=9.0,<10.0
